# Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto - Part 1

## For Capstone Project

### 1. Setting up the environment

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json

# !conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim

from bs4 import BeautifulSoup
from urllib.request import urlopen
import requests
from pandas.io.json import json_normalize

import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans

# !conda install -c conda-forge folium=0.5.0 --yes
import folium

print('Libraries imported.')

Libraries imported.

### 2. Parsing the html

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page = urlopen(url).read().decode('utf-8')
soup = BeautifulSoup(page, 'html.parser')

wiki_table = soup.body.table.tbody

### 3. Extracting data from the table to the data frame

In [3]:
def get_cell(element):
    cells = element.find_all('td')
    row = []
    
    for cell in cells:
        if cell.a:            
            if (cell.a.text):
                row.append(cell.a.text)
                continue
        row.append(cell.string.strip())
        
    return row

In [4]:
def get_row():    
    data = []  
    
    for tr in wiki_table.find_all('tr'):
        row = get_cell(tr)
        if len(row) != 3:
            continue
        data.append(row)        
    
    return data

In [5]:
data = get_row()
columns = ['Postcode', 'Borough', 'Neighbourhood']
df = pd.DataFrame(data, columns=columns)
df.head()

  Postcode           Borough               Neighbourhood
0      M1A      Not assigned
1      M2A      Not assigned
2      M3A        North York                   Parkwoods
3      M4A        North York            Victoria Village
4      M5A  Downtown Toronto  Regent Park / Harbourfront

In [6]:
df.shape

(180, 3)

### 4. Cleaning the data

In [7]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

# Reset the index and dropping the previous index
df = df.reset_index(drop=True)

df.head(10)

  Postcode           Borough                                 Neighbourhood
0      M3A        North York                                     Parkwoods
1      M4A        North York                              Victoria Village
2      M5A  Downtown Toronto                    Regent Park / Harbourfront
3      M6A        North York             Lawrence Manor / Lawrence Heights
4      M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
5      M9A         Etobicoke                              Islington Avenue
6      M1B       Scarborough                               Malvern / Rouge
7      M3B        North York                                     Don Mills
8      M4B         East York              Parkview Hill / Woodbine Gardens
9      M5B  Downtown Toronto                      Garden District, Ryerson

In [8]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head(10)

  Postcode      Borough                                      Neighbourhood
0      M1B  Scarborough                                    Malvern / Rouge
1      M1C  Scarborough           Rouge Hill / Port Union / Highland Creek
2      M1E  Scarborough                Guildwood / Morningside / West Hill
3      M1G  Scarborough                                             Woburn
4      M1H  Scarborough                                          Cedarbrae
5      M1J  Scarborough                                Scarborough Village
6      M1K  Scarborough      Kennedy Park / Ionview / East Birchmount Park
7      M1L  Scarborough                  Golden Mile / Clairlea / Oakridge
8      M1M  Scarborough  Cliffside / Cliffcrest / Scarborough Village West
9      M1N  Scarborough                       Birch Cliff / Cliffside West

In [9]:
df = df.replace('/',',', regex=True)
df.head()

  Postcode      Borough                             Neighbourhood
0      M1B  Scarborough                           Malvern , Rouge
1      M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
2      M1E  Scarborough       Guildwood , Morningside , West Hill
3      M1G  Scarborough                                    Woburn
4      M1H  Scarborough                                 Cedarbrae

In [10]:
df.shape

(103, 3)

In [11]:
df.to_csv(r'df_task1.csv')