In [1]:
import pandas as pd
df = pd.read_csv(r'df_task1.csv')
df.head()

   Unnamed: 0 Postcode      Borough                             Neighbourhood
0           0      M1B  Scarborough                           Malvern , Rouge
1           1      M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
2           2      M1E  Scarborough       Guildwood , Morningside , West Hill
3           3      M1G  Scarborough                                    Woburn
4           4      M1H  Scarborough                                 Cedarbrae

In [2]:
df=df.drop(columns=['Unnamed: 0'])

In [3]:
df.head()

  Postcode      Borough                             Neighbourhood
0      M1B  Scarborough                           Malvern , Rouge
1      M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
2      M1E  Scarborough       Guildwood , Morningside , West Hill
3      M1G  Scarborough                                    Woburn
4      M1H  Scarborough                                 Cedarbrae

In [4]:
!conda install -c conda-forge geocoder --yes
import geocoder

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [5]:
def get_latlng(postal_code):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    return lat_lng_coords
    
get_latlng('M4G')

[43.70941386000004, -79.36309957799995]

In [6]:
postal_codes = df['Postcode']    
coords = [ get_latlng(postal_code) for postal_code in postal_codes.tolist() ]

In [7]:
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
df['Latitude'] = df_coords['Latitude']
df['Longitude'] = df_coords['Longitude']
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern , Rouge",43.808626,-79.189913
1,M1C,Scarborough,"Rouge Hill , Port Union , Highland Creek",43.785779,-79.157368
2,M1E,Scarborough,"Guildwood , Morningside , West Hill",43.765806,-79.185284
3,M1G,Scarborough,Woburn,43.771545,-79.218135
4,M1H,Scarborough,Cedarbrae,43.768791,-79.238813

In [8]:
df[df.Postcode == 'M5G']

   Postcode           Borough       Neighbourhood   Latitude  Longitude
57      M5G  Downtown Toronto  Central Bay Street  43.656072 -79.385653

In [9]:
df.to_csv('df_task2.csv', index=False)